.numbers {
    background: url("bg.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin: 80px auto;
    border: 1px solid darkorange;
}

.number {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    border: 1px solid darkorange;
    border-radius: 50%;
    line-height: 3;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkorange;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 150px;
}